/* Estilos comunes */
.Museo-Del-Arte, .Ingresos, .Informacion-General {
    background-color: rgb(152, 251, 152);
    margin: 0 auto;
    padding: 20px;
}

.Ingresos, .Informacion-General {
    border-radius: 15px;
}

.Museo-Del-Arte {
    text-align: center;
}

.Ingresos {
    width: 90%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.Informacion-General {
    width: 95%;
}

.Ingresos > div {
    flex: 1;
    padding: 10px;
    background-color: #a8eca4;
}

/* Estilos para los elementos dentro de .Ingresos */
.Ingresos div h3 {
    margin-bottom: 15px;
}

.Ingresos div label, 
.Ingresos div input, 
.Ingresos div textarea, 
.Ingresos div a {
    display: block;
    margin-bottom: 10px;
}

.Ingresos input[type="button"] {
    margin-top: 10px;
}

img {
    width: 40px;
    height: 40px;
}
